<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deskripsi Obat</title>
</head>
<body>
    <nav>
        <a href="/">Pharma-Web</a>
    </nav>
    <div>
        <main>
            <h2><%= medicine.name %></h2>
            <p>Pemanufaktur: <%= medicine.manufacturer %></p>
            <p><%= medicine.description %></p>
        </main>
        <div>
            <p>Stok: <%= medicine.stock %></p>
            <h4>Catatan Transaksi</h4>
            <ul style="height: 300px; overflow-y:scroll">
                <% for( let i = 0; i < medicine.log.length; i++ ) { %>
                <li>                        
                    <p><%= medicine.log[i][DATE] %></p>
                    <p>Stok masuk: <%= medicine.log[i][STOCK] %></p>
                    <% if (medicine.log[i][DESC] !== '') { %>
                        <p><%= medicine.log[i][DESC] %></p>
                    <% } %>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</body>
</html>