<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharwa-Web</title>
</head>
<body>
    <nav>
        <a href="/">Pharwa-Web</a>
    </nav>
    <h1>Manajemen Data Obat Apotek</h1>
    <table>
        <% for( let i = 0; i < medicines.length; i++ ) { %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= medicines[i].name %></td>
                <td>
                    <a href="/info/<%= medicines[i]._id %>">Detail</a>
                    <a href="/transaction/<%= medicines[i]._id %>">Transaksi</a>
                    <a href="/edit/<%= medicines[i]._id %>">Edit</a>
                    <a href="/delete/<%= medicines[i]._id %>"
                        onclick="return confirm('Hapus data obat?')">Hapus</a>
                </td>
            </tr>
        <% } %>
    </table>
    <hr>
    <a href="">Tambah Obat</a>
</body>
</html>